version: "3.8"

volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:13
    container_name: db
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    image: kleorii/kittygram_backend:latest  # Используйте ваш тег для образа backend
    container_name: backend
    env_file: .env
    depends_on:
      - db
    volumes:
      - static:/static
      - media:/media
    command: gunicorn kittygram_backend.wsgi:application --bind 0:8000

  frontend:
    build: ./frontend
    volumes:
      - static:/static
    command: sh -c "cp -r /app/build/* /static/ && tail -f /dev/null"


  gateway:
    image: kleorii/kittygram_gateway:latest # Используйте ваш тег для образа gateway
    container_name: gateway
    env_file: .env
    depends_on:
      - backend
      - frontend
    ports:
      - "80:80"
    volumes:
      - static:/static
      - media:/media
